<!DOCTYPE html>
<html lang="ru">
<head>
    <title>A/B тесты и многорукие бандиты</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bandits_site/css/main.css' %}">
</head>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Визуализация A/B тестов</a></li>

        <li><a href="{% url 'classic_ab_tests' %}">Оптимизация классических A/B тестов</a></li>

        <li><a href="{% url 'multi_armed_bandits' %}">Многорукие бандиты</a></li>
    </ul>
</nav>
<body>
<h1>A/B тесты и многорукие бандиты</h1>
</body>
<article class="content">
{% block content %}
{% endblock content %}
</article>
</html>