{% extends 'bandits_site/base.html' %}
{% block content %}
    <header>
        <h2>Оптимизация классических A/B тестов</h2>
    </header>

    <section>
        <header>
            <h3>Цель статьи</h3>
        </header>
        Эта статья рассказывает о том, как выбрать, какой объем рассылки пустить на проведение A/B-теста, чтобы получить
        максимальное число конверсий.

        Из нее вы узнаете, как связаны объем участвующих в A/B-тесте писем с общим числом конверсий из рассылки, а также
        <ul>
            <li>научитесь подбирать оптимальный объем A/B-теста,</li>
            <li>увидите, почему выбор объема выборки с помощью T-теста или Z-теста дает меньшее число конверсий,</li>
        </ul>
    </section>
    <section>
        <header>
            <h3>Расчет объема писем для A/B теста с помощью T-теста или Z-теста</h3>
        </header>
        <p>
            Обычно для сравнения вариантов рассылок используют Z-тест или T-тест - уточнение Z-теста для малого (менее
            30 на вариант) числа писем в A/B тесте.
            Этот тест вычисляет, как часто полученную разницу конверсий для разных вариантов можно получить чисто
            случайно при таком объеме A/B теста.
            Если эта вероятность - ее называют статистической значимостью - мала (например, 5%), то делается вывод, что
            разница в конверсиях не случайна, и вариант с большей конверсией - действительно лучше.
        </p>
        <p>
            Формулу, по которой считается статистическая значимость Z-теста, можно переписать так, чтобы выразить объем
            A/B
            теста, необходимый, чтобы сравнить варианты рассылок с желаемой статистической значимостью.
            Если отдать на проведение теста, часть рассылки, объемом, посчитанным по этой формуле, мы получим не
            максимальное число конверсий.
            Размер A/B теста будет идеальным для того, чтобы с выбранной уверенностью делать вывод, что один из варинтов
            лучше другого, однако не является идеальным для того, чтобы получить максимальное число конверсий от
            рассылки.
        </p>
        <p>
            Более того, объем писем для сравнения рассылок с помощью Z-теста никак не учитывает общее число получателей
            рассылки - может оказаться, что для набора нужной значимости нужно отправить больше писем, чем всего
            получателей.
        </p>
        <p>
            Разберем на примере, сколько мы получим конверсий, если используем формулу для Z-теста.
        </p>
    </section>
    <section>
        <header>
            Число конверсий из рассылки при проведении A/B теста объемом, посчитанным по формуле для T-теста.
        </header>
        <p>
            Пусть есть два варианта рассылки, A и B. Один из них дает конверсию 10%, а второй 12%, но какой именно дает
            10, а какой 12 - мы не знаем.
        </p>
        <p>
            Всего в базе 10 тысяч получателей.
            Чтобы сравнить варианты, мы на части получателей проводим A/B тест и отправляем половине из них первый
            вариант,
            а второй половине - второй.
            Остальные письма отправляем по варианту, который показал за время A/B теста большую конверсию.
        </p>
        <p>
            Формула для T-теста для статистической значимости 5% и мощности 80% дает нам объем A/B теста в 7064 письма.
            Посчитаем, сколько конверсий даст выделение этого числа писем на проведение A/B теста.
        </p>
        <p>
            C вероятностью 99.6% к концу A/B теста большую конверсию покажет вариант с конверсией 12%.
            Из них в 95% его конверсия будет статистически значимо выше, а в 4.6% - будет выше, но статистически
            незначимо.
            С вероятностью 0.4% большую конверсию покажет вариант с конверсией 10%.
            Таким образом рассылка будет в среднем приносить 1029 конверсий.
        </p>
        <p>
            Использование 7000 писем для проведения A/B теста позволяет почти безошибочно определять лушчий вариант
            рассылки.
            Однако воспользоваться этим знанием мы не успеваем: после проведения A/B теста остается всего 3000
            получателей.
        </p>
        <p>
            Для сравнения посчитаем, сколько конверсий получится, если выделить на A/B тест 2000 писем.
        </p>
        <p>
            За время A/B теста отправляется 1000 писем с конверсией 12% и 1000 писем с конверсией 10%. В среднем это
            дает 1000 * 0.12 + 1000 * 0.10 = 220 коверсий.
        </p>
        <p>
            C вероятностью 91.8% к концу A/B теста большую конверсию покажет вариант с конверсией 12%. В этом случае
            письма оставшимся получателям принесут 8000 * 0.12 = 960 конверсий, а всего рассылка принесет - 960 + 220 =
            1180 конверсий.
            С вероятностью 8.2% большую конверсию покажет вариант с конверсией 10%.
            В этом случае оставшиеся письма принесут 8000 * 0.10 = 800 конверсий, а всего - 800 + 220 = 1020 конверсий.
        </p>
        <p>
            Значит, в среднем рассылка будет приносить 1180 * 91.8 + 1020 * 8.2 = 1167 конверсий.
        </p>

        <p>
            Это гораздо больше, чем для предыдущего способа. Особенно хорошо это видно, если посчитать, что среднее
            число конверсий с этой рассылки всегда лежит от 1100 (минимум - если все письма пустить на A/B тест) до 1200
            (недостижимый идеал, когда мы заранее знаем, какой вариант лучше и всем отправляем его).
            Таким образом, объем выборки, необходимый для проведения T-теста, дает эффективность 29% от идеала (где 0%
            соответсвует минимальному число конверсий), а если использовать 2000 писем для A/B-теста - получим
            эффективность 67% от идеала.
        </p>
    </section>
    <section>
        <header>
            <h3>Калькулятор объема A/B-теста для получения максимальной конверсии из рассылки.</h3>
        </header>
        Тут формочка с полями, куда можно вводить данные
        <ul>
            <li>Общее число писем в рассылке</li>
            <li>Процент конверсии по истории</li>
            <li>Ожидаемый прирост процента конверсии (абсолютный)</li>
        </ul>
        Тут окошко с результатом, результаты обновляются, когда меняются данные в полях
        <ul>
            <li>Оптимальный объем A/B теста</li>
            <li>Писем на каждый вариант</li>
            <li>Усредненное число конверсий с рассылки</li>
        </ul>
    </section>
    <section>
        <header>
            <h3>Симулятор проведения A/B-теста</h3>
        </header>
        Тут формочка с полями, куда можно вводить данные
        <ul>
            <li>Общее число писем в рассылке</li>
            <li>Число писем для проведения A/B теста</li>
            <li>Процент конверсий варианта A</li>
            <li>Процент конверсий варианта B</li>
        </ul>
        Тут окошко с результатом, результаты обновляются, когда меняются данные в полях
        <ul>
            <li>Минимальное число конверсий с рассылки</li>
            <li>Усредненное число конверсий с рассылки для выбранного объема A/B теста</li>
            <li>Максимальное число конверсий - недостижимый идеал</li>
            <li>График с накопительным числом конверсий. Отмечена точка переключения, после нее график растраивается
                (хороший результат, плохой и усредненный), возле хорошего и плохого подписаны проценты, насколько часто
                каждый из них случается.
            </li>
        </ul>
    </section>

{% endblock content %}