{% extends 'bandits_site/base.html' %}
{% load static %}
{% block content %}
    <header>
        <h2>Увеличение конверсий рассылки с помощью правильного выбора объема A/B теста</h2>
    </header>
    <p>
        Чем меньше объем A/B теста, тем больше писем мы сможем отправить с вариантом, который показал большую
        конверсию, но тем больше риск, что этим вариантом окажется вариант с не наибольшей истинной конверсией.
        Оптимальный объем A/B-теста - это объем, достигающий баланса между между риском и возможной выгодой и дающий
        в среднем наибольшее число конверсий.
    </p>
    <p>
        Эта статья рассказывает о том, как выбрать, какую часть рассылки пустить на проведение A/B-теста, чтобы рассылка
        принесла максимальное число конверсий.
    </p>
    <p>
        В первой части представлен <a href="{% url 'classic_ab_tests' %}#calculator">калькулятор для расчета
        оптимального объема А/B-теста</a>.
    </p>
    <p>
        Во второй части на нескольких примерах разобрано, сколько конверсий приносит оптимальный выбор A/B-теста по
        сравнению с неоптимальным.
    </p>
    <p>
        В третьей части рассказывается, чем наш калькулятор отличается от калькуляторов для расчета объема A/B-теста для
        сравнения вариантов рассылок.
    </p>
    <p>
        В четвертой части мы расскажем об общих ограничениях классических A/B-тестов и каких результатов можно
        достичь, обойдя их.
    </p>

    <section>
        <header>
            <a id="calculator" href="{% url 'classic_ab_tests' %}#calculator">
                <h3>Калькулятор для расчета оптимального размера A/B-теста</h3>
            </a>
        </header>
        <div class="form-container">
            <header class="subheader">
                Какую часть рассылки нужно выделить под A/B-тест, чтобы получить наибольшее количество конверсий из
                рассылки.
            </header>
            <p>Тут формочка с полями, куда можно вводить данные</p>
            <ul>
                <li>Общее число писем в рассылке</li>
                <li>Процент конверсии по истории</li>
                <li>Ожидаемый прирост процента конверсии (абсолютный)</li>
            </ul>

            <p>Тут окошко с результатом, результаты обновляются, когда меняются данные в полях</p>
            <ul>
                <li>Оптимальный объем A/B теста</li>
                <li>Писем на каждый вариант</li>
                <li>Усредненное число конверсий с рассылки</li>
            </ul>
            <p>
                Чтобы посчитать оптимальный объем A/B теста, введите общее число писем в рассылке, процент
                конверсий по истории и ожидаемый прирост конверсий.
                Калькулятор показывает оптимальный объем A/B теста, дающий в среднем наибольшее количество
                конверсий.
            </p>
        </div>
        <p>
            Больший объем A/B-теста увеличивает шансы, что вариант, показавший себя лушче к концу A/B-теста,
            действительно лучше.
            Однако чем большую часть писем мы пустим на A/B-тест, тем меньше получателей останется после его проведения
            и тем меньше писем с вариантом, показавшим себя лучше, мы в итоге отправим.
        </p>
        <p>
            Поиск оптимального размера A/B-теста является задачей управления рисками - чтобы получать в среднем
            наибольшее числа конверсий с рассылки, размер A/B-теста должен обеспечивать баланс между риском выбрать не
            наилучший результат и потенциальной выгодой от его использования в оставшихся письмах.
        </p>
    </section>

    <section>
        <header>
            <a>
                <h3>Подсчет среднего числа конверсий при разных размерах A/B-теста</h3>
            </a>
        </header>
        <p>
            Для данной рассылки оптимальный объем A/B теста составляет 2000 писем.
            C вероятностью 91.9% к концу A/B теста большую конверсию покажет вариант с конверсией 12%.
            С вероятностью 8.1% большую конверсию покажет вариант с конверсией 10%.
            В среднем рассылка с таким объемом A/B приносить 1167 конверсий.
        </p>
    </section>

    <section>
        <header>
            <h3>
                Число конверсий из рассылки при проведении A/B теста объемом, посчитанным по формуле для T-теста.
            </h3>
        </header>
        <p>
            <img src="{% static 'bandits_site/images/email_mailings_variants.png' %}" alt="Два варианта рассылки.">
        </p>
        <p>
            Пусть в базе 10 тысяч подписчиков. Конверсия рассылок по истории равна 10%.
            Собираемся запускать новую рассылку и для нее подготовили два варианта писем.
            Мы предполагаем, что один из них имеет истинный процент конверсий* 12%, а второй - 10%.
            Но какой именно из двух вариантов лучше, мы не знаем, поэтому хотим сравнить рассылки с помощью A/B
            теста на
            части получателей, и оставшимся отправить лучший вариант.
        </p>
        <p>
            Воспользуемся <a href="https://mindbox.ru/ab-test-calculator/">калькулятором размера объема A/B
            теста</a>.
            Калькулятор использует формулу для T-теста.
            По этой формуле, чтобы сравнить варианты с конверсиями 10% и 12%, необходимо отправить 7064 письма
            в A/B тесте.
        </p>
        <p>
            <img src="{% static 'bandits_site/images/ab-test-sample-size-calculator-mindbox-screenshot.png' %}"
                 alt="Изображение калькулятора размера выборки для проведения A/B теста."
                 class='scale-down'
            >
        </p>
        <p>
            Пусть наши предположения оказались верны и варианты рассылки, действительно имеют истинный процент
            конверсий
            10% и 12%.
            Посчитаем, сколько всего конверсий** будет получено с рассылки при таком объеме A/B теста.
        </p>
        <p>
            C вероятностью 99.6% к концу A/B теста больший процент конверсий покажет вариант с процентом конверсией
            12%.
            С вероятностью 0.4% больший процент конверсий покажет вариант с процентом конверсией 10%.
            В среднем рассылка с таким объемом A/B приносить 1129 конверсий.
        </p>
        <p>
            Для сравнения, если использовать в A/B-тесте все письма, в среднем рассылка принесет 1100 конверсий -
            это
            минимальная отдача от рассылки.
            Если бы мы каким-то образом знали, какой вариант лучше и сразу все письма отправяли с лучшим вариантом,
            в
            среднем получали бы 1200 конверсий - это недостижимый идеал.
            Если 1100 взять за ноль, а 1200 за 100%, то получим 1129 конверсий, что составляет 29% от идеала.
        </p>
        <p>
            Цифры получены с помощью численного моделирования. Подробности под катом. <strong>Добавлю позже. Будет
            четкое описание как проводится моделируется, исходный код, ссылка на гитхаб.</strong>
        </p>
        <p>
            <img src="{% static 'bandits_site/images/t-test-conversion-on-relative-scale.png' %}"
                 alt="T-test conversion on relative scale.">
        </p>
        <p>
            Этот не лучший результат. Причины этого в том, что статистические тесты сравнивают варианты рассылок, но
            ничего не знают о том, как эта информация будет использоваться.
            Для нашей рассылки чтобы с большой уверенностью сравнить варианты рассылок, потребовалось отправить 7
            тысяч
            писем в A/B-тесте, и только для оставшихся 3 тысяч получателей мы смогли воспользоваться полученной
            информацией.
        </p>
        <p>
            Если же снизить объем A/B-теста до 2 тысяч писем, результат улучшится до 66% от идеала.
        </p>
    </section>

    <section>
        <header>
            <h3>Симулятор проведения A/B-теста</h3>
        </header>
        <div class="form-container">
            Тут формочка с полями, куда можно вводить данные
            <ul>
                <li>Общее число писем в рассылке</li>
                <li>Число писем для проведения A/B теста</li>
                <li>Процент конверсий варианта A</li>
                <li>Процент конверсий варианта B</li>
            </ul>
            Тут окошко с результатом, результаты обновляются, когда меняются данные в полях
            <ul>
                <li>Минимальное число конверсий с рассылки</li>
                <li>Усредненное число конверсий с рассылки для выбранного объема A/B теста</li>
                <li>Максимальное число конверсий - недостижимый идеал</li>
                <li>График с накопительным числом конверсий. Отмечена точка переключения, после нее график
                    растраивается
                    (хороший результат, плохой и усредненный), возле хорошего и плохого подписаны проценты,
                    насколько
                    часто
                    каждый из них случается.
                </li>
            </ul>
        </div>
    </section>

    <section>
        <header>
            <h3>В следующей серии</h3>
        </header>
        Подбор объема A/B теста имеет свой предел по эффективности.
        Дельше можно улучшить конверсии только полностью отказавшись от четкого разделения рассылки на
        исследование
        и
        использования и динамически меняя распределение траффика между вариантами рассылки.
    </section>
{% endblock content %}