{% extends 'bandits_site/base.html' %}
{% load static %}
{% block content %}
    <header>
        <h1>Увеличение конверсий рассылки с помощью правильного выбора объема A/B теста</h1>
    </header>
    <p>
        Чем меньше объем A/B теста, тем больше писем мы сможем отправить с вариантом, который показал большую
        конверсию, но тем больше риск, что этим вариантом окажется вариант с не наибольшей истинной конверсией.
        Оптимальный объем A/B-теста - это объем, достигающий баланса между между риском и возможной выгодой и дающий
        в среднем наибольшее число конверсий.
    </p>
    <p>
        Эта статья рассказывает о том, как выбрать, какую часть рассылки пустить на проведение A/B-теста, чтобы рассылка
        принесла максимальное число конверсий.
    </p>
    <p>
        В первой части представлен <a href="{% url 'classic_ab_tests' %}#calculator">калькулятор для расчета
        оптимального объема А/B-теста</a>.
    </p>
    <p>
        Во второй части на нескольких примерах разобрано, <a
            href="{% url 'classic_ab_tests' %}#conversion-calculation-examples">сколько
        конверсий приносит оптимальный выбор A/B-теста по сравнению с неоптимальным.</a>
    </p>
    <p>
        В третьей части рассказывается, <a
            href="{% url 'classic_ab_tests' %}#difference-with-t-test-sample-size-calculation">чем наш калькулятор
        отличается от калькуляторов для расчета объема A/B-теста для
        сравнения вариантов рассылок</a>.
    </p>
    <p>
        В четвертой части мы расскажем об общих ограничениях классических A/B-тестов и каких результатов можно
        достичь, обойдя их.
    </p>

    <section>
        <header>
            <a id="calculator" href="{% url 'classic_ab_tests' %}#calculator">
                <h2>Калькулятор для расчета оптимального размера A/B-теста</h2>
            </a>
        </header>
        <div class="form-container">
            <header class="subheader">
                Какую часть рассылки нужно выделить под A/B-тест, чтобы получить наибольшее количество конверсий из
                рассылки.
            </header>
            <p>Тут формочка с полями, куда можно вводить данные</p>
            <ul>
                <li>Общее число писем в рассылке</li>
                <li>Процент конверсии по истории</li>
                <li>Ожидаемый прирост процента конверсии (абсолютный)</li>
            </ul>

            <p>Тут окошко с результатом, результаты обновляются, когда меняются данные в полях</p>
            <ul>
                <li>Оптимальный объем A/B теста</li>
                <li>Писем на каждый вариант</li>
                <li>Усредненное число конверсий с рассылки</li>
            </ul>
            <p>
                Чтобы посчитать оптимальный объем A/B теста, введите общее число писем в рассылке, процент
                конверсий по истории и ожидаемый прирост конверсий.
                Калькулятор показывает оптимальный объем A/B теста, дающий в среднем наибольшее количество
                конверсий.
            </p>
        </div>
        <p>
            Больший объем A/B-теста увеличивает шансы, что вариант, показавший себя лушче к концу A/B-теста,
            действительно лучше.
            Однако чем большую часть писем мы пустим на A/B-тест, тем меньше получателей останется после его проведения
            и тем меньше писем с вариантом, показавшим себя лучше, мы в итоге отправим.
        </p>
        <p>
            Поиск оптимального размера A/B-теста является задачей управления рисками - чтобы получать в среднем
            наибольшее числа конверсий с рассылки, размер A/B-теста должен обеспечивать баланс между риском выбрать не
            наилучший результат и потенциальной выгодой от его использования в оставшихся письмах.
        </p>
    </section>

    <section>
        <header>
            <a href="{% url 'classic_ab_tests' %}#conversion-calculation-examples" id="conversion-calculation-examples">
                <h2>
                    Конверсии из рассылки при оптимальном и неоптимальном размере A/B-теста
                </h2>
            </a>
        </header>
        <p>
            Покажем на примере как объем АБ теста влияет на число конверсий рассылки и, соответственно, на выручку.
        </p>
        <p>
            Дизайнеры подготовили два варианта писем для рассылки - винтажный черно-белый (слева) и
            цветной (справа) варианты. Какой из них лучше, мы не знаем, поэтому проведем АБ тест, то есть сначала
            сравним варианты
            на части получателей, а затем отправим оставшимся тот, который показал себя лучше.
        </p>
        <p>
            <img src="{% static 'bandits_site/images/email_mailings_variants.png' %}" alt="Два варианта рассылки.">
        </p>
        <p> В базе 10 000 подписчиков.
            Будем считать, что каждое письмо с черно-белой рассылкой дает конверсию с вероятностью 10%,
            а каждое письмо с цветной рассылкой - с вероятностью 12%.
        </p>
        <p>
            Ниже приведена таблица, где рассмотрены несколько кейсов - с объемом АБ теста 500, 1000, 2000, 4000.
        </p>
        <table>
            <thead>
            <tr>
                <th>Объем A/B-теста</th>
                <th>Средний процент конверсий рассылки</th>
                <th>Вероятность победы в A/B-тесте цветного варианта</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>500</td>
                <td>11.46%</td>
                <td>74.0%</td>
            </tr>
            <tr>
                <td>1000</td>
                <td>11.60%</td>
                <td>83.2%</td>
            </tr>
            <tr>
                <td>2000</td>
                <td class="highlight">11.67%</td>
                <td>91.8%</td>
            </tr>
            <tr>
                <td>4000</td>
                <td>11.57%</td>
                <td>97.7%</td>
            </tr>
            </tbody>
        </table>
        <p>
            В реальности процент конверсий рассылки зависит от случайности. Если мы будем отправлять рассылку множество
            раз,
            каждый раз мы будем получать разное число конверсий. Иногда большую конверсию будет показывать черно-белый
            вариант,
            иногда цветной. Чтобы избавиться от флуктуаций, мы провели эксперимент 1 миллион раз и усреднили результат (<a
                href="{% url 'classic_ab_tests' %}" #experiment-details>подробное описание эксперимента</a>).
            Таким образом мы получили "Средний процент конверсий с рассылки".
        </p>
        <p>
            Также проведя эксперимент миллион раз, мы получили еще один показатель - "Вероятность победы в A/B-тесте
            цветного варианта".
            Он показывает как часто цветной вариант покажет большую конверсию к концу АБ теста и именно его мы будем
            использовать для отправки оставшимся получателям.
            Несмотря на то, что вероятность победы цветного варианта в АБ тесте объемом 4000 писем наибольшая, средний
            процент конверсий рассылки не наилучший - ведь чем больше объем A/B-теста, тем позже мы начнем пользоваться
            его результатами на оставшейся части получателей.
        </p>
        <p>
            Из таблицы видно, что вариант рассылки с объемом АБ теста 2000 дает наибольший средний процент конверсий.
            Таким образом, больший объем АБ теста не значит, что мы получим наибольшую выгоду от рассылки.
            В то же время, слишком маленький объем АБ теста также дает не наибольший процент конверсий - несмотря на то,
            что после проведения A/B-теста останется большее число получателей, вероятность победы цветного варианта
            наименьшая.
            Следовательно, риск того, что мы используем неоптимальный вариант рассылки на оставшейся части получателей,
            наибольший.

        </p>
    </section>

    <section>
        <header>
            <a id="difference-with-t-test-sample-size-calculation"
               href="{% url 'classic_ab_tests' %}#difference-with-t-test-sample-size-calculation">
                <h2>
                    Чем наш калькулятор отличается от калькуляторов для расчета объема A/B-теста для сравнения вариантов
                    рассылок.
                </h2>
            </a>
        </header>
        <p>
            Наш калькулятор вычисляет объем A/B-теста, который максимизирует общее число конверсий рассылки. Мы будем
            называть его К-калькулятором. К-калькулятор
            вычисляет объем А/B-теста, реализующий баланс между точностью сравнения вариантов рассылки и потенциальной
            выгодой от раннего
            переключения на лучший вариант рассылки.
        </p>
        <p>
            В интернете есть множество калькуляторов, вычисляющих объем A/B-теста по другому принципу. Такие
            калькуляторы помогают узнать,
            сколько нужно людей, чтобы результаты A/B-теста были достоверными.Такие калькуляторы назовем
            Д-калькуляторами.
            Объем теста, который они выдают - это наименьший объем A/B-теста, необходимый, чтобы достоверно сравнить
            варианты рассылок с заданной точностью. (вставить ссылки!).
            Такие калькуляторы никак не учитывают, что результаты АБ теста будут применяться на
            оставшейся базе.
        </p>
        <p>
            Поэтому если вашей целью является увеличение конверсии из рассылки - рассчитывайте объем теста с помощью
            нашего Калькулятора.
            А если нужно проверить гипотезу о том, что какие-либо элементы письма влияют на конверсию - применяйте
            Д-калькуляторы - "калькуляторы объема
            A/B-тестов для сравнения вариантов рассылок".
        </p>
        <p>
            Проиллюстрируем эту идею на примере.
        </p>
        <p>
            Пусть в базе 10 тысяч подписчиков. Собираемся запускать новую рассылку и для нее подготовили два варианта
            писем. Каждое письмо первого варианта (черно-белый) приносит конверсию с вероятностью 10%, а каждое письмо
            второго
            варианта (цветной) - с вероятностью 12%.
        </p>
        <p>
            Оптимальный объем A/B теста для увеличения конверсий рассылки, посчитанный с помощью нашего К-калькулятора,
            равен 2000.
            Объем A/B-теста, посчитанный с помощью Д-калькулятора, равен 7062.
        </p>
        <p>
            <img src="{% static 'bandits_site/images/ab-test-sample-size-calculator-mindbox-screenshot.png' %}"
                 alt="Изображение калькулятора размера выборки для проведения A/B теста."
                 class='scale-down'
            >
        </p>
        <p>
            В таблице ниже показано, какой процент конверсий дает рассылка с A/B-тестом объема 2000 и 7062.
        </p>
        <table>
            <thead>
            <tr>
                <th>Объем A/B-теста</th>
                <th>Средний процент конверсий рассылки</th>
                <th>Вероятность победы в A/B-тесте цветного варианта</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2000</td>
                <th>11.67%</th>
                <td>91.9%</td>
            </tr>
            <tr>
                <td>7000</td>
                <th>11.30%</th>
                <td>99.6%</td>
            </tr>
            </tbody>
        </table>
        <p>
            Из таблицы видно, что при использованиии К-калькулятора мы получаем больше конверсий, несмотря на то, что цветной вариант будет реже выигрывать A/B-тест и его победа будет иметь меньшую статистическую значимость.
        </p>
    </section>

    <section>
        <header>
            <h2>Симулятор проведения A/B-теста</h2>
        </header>
        <div class="form-container">
            Тут формочка с полями, куда можно вводить данные
            <ul>
                <li>Общее число писем в рассылке</li>
                <li>Число писем для проведения A/B теста</li>
                <li>Процент конверсий варианта A</li>
                <li>Процент конверсий варианта B</li>
            </ul>
            Тут окошко с результатом, результаты обновляются, когда меняются данные в полях
            <ul>
                <li>Минимальное число конверсий с рассылки</li>
                <li>Усредненное число конверсий с рассылки для выбранного объема A/B теста</li>
                <li>Максимальное число конверсий - недостижимый идеал</li>
                <li>График с накопительным числом конверсий. Отмечена точка переключения, после нее график
                    растраивается
                    (хороший результат, плохой и усредненный), возле хорошего и плохого подписаны проценты,
                    насколько
                    часто
                    каждый из них случается.
                </li>
            </ul>
        </div>
    </section>

    <section>
        <header>
            <h2>В следующей серии</h2>
        </header>
        Подбор объема A/B теста имеет свой предел по эффективности.
        Дельше можно улучшить конверсии только полностью отказавшись от четкого разделения рассылки на
        исследование
        и
        использования и динамически меняя распределение траффика между вариантами рассылки.
    </section>
    <section class="collapsed">
        <header>
            <h2>
                <a id="experiment-details" href="{% url 'classic_ab_tests' %}" #experiment-details>Подробное
                    описание
                    эксперимента</a>
            </h2>
        </header>
        <p>
            Отправим 500 писем, половину с черно-белым
            вариантом, половину с цветным. Сравним полученный процент конверсий каждого варианта и лучший вариант
            отправим оставшимся получателям. Посчитаем общее число конверсий, которое принесла рассылка.
        </p>
        <p>
            Проведем вычислительный эксперимент. В качестве вариантов рассылок используем генераторы случайных чисел,
            генерирующие единицы и нули. Единица соответствует письму давшему конверсию, ноль - писему не давшему
            конверсию. Вероятность появления единицы 12% у одного генератора и 10% у другого.
        </p>
        <p>
            Сгенерируем по 250 чисел каждым генератором. Сумма чисел каждого генератора соответствует числу
            конверсий из этого варианта рассылки. Выберем тот, у которого сумма оказалось больше и
            с помощью него сгенерируем еще 9500 чисел. Если сложить все 10000 чисел, получим общее число конверсий из
            рассылки.
        </p>
        <p>
            Результаты эксперимента:
        </p>
        <ul>
            <li>Вероятность, что при сравнении вариантов победит вариант с конверсией 12%: 74%</li>
            <li>Вероятность, что при сравнении вариантов победит вариант с конверсией 10%: 26%</li>
            <li>Среднее число конверсий, которое принесла рассылка: 1145,7</li>
            <li>Средний процент конверсий с рассылки: 11,45%</li>
        </ul>
    </section>
{% endblock content %}