{% extends 'bandits_site/base.html' %}
{% load static %}
{% block content %}
    <section>
        <header>
            <h2>Цели сайта</h2>
        </header>
        <p>
            Этот сайт рассказывает о том, как увеличить конверсию email-рассылкок при проведении A/B тестов с помощью
            такого
            инструмента как "многорукие бандиты". Из него вы узнаете, как многорукие бандиты увеличивают конверсию с
            помощью динамического
            распределения траффика между вариантами писем.
        </p>
    </section>
    <section>
        <header>
            <h2>Об авторе</h2>
        </header>
        <p>
            Окончил механико-математический факультет МГУ по специальности математик. С 2018 занимаюсь анализом данных в
            маркетинге. На основе закономерностей поведения клиентов более 300 компаний создаю и улучшаю инструменты для
            автоматизации маркетинга: рекомендательные механики, автоматические механики для работы с оттоком, механики
            предсказания времени отправки коммуникации, чтобы максимизировать эффект от них, а также механики,
            позволяющие
            контролировать частоту коммуникаций: меньше слать писем, при этом не меняя доход от них.
        </p>
    </section>

    <section>
        <header>
            <h2>Содержание</h2>
        </header>
        <ul>
            <li>Название + подробное описание статей.</li>
            <li>Заполнять после написания статьи.</li>
            <li>...</li>
        </ul>
    </section>

{% endblock content %}
