{% extends 'bandits_site/base.html' %}
{% block content %}
    Цель
    
    
    Содержание

    
    Концепция бандитского тестирования
 
    Использование классических A/B тестов увеличивает конверсии рассылки. Использование оптимального объема A/B-теста позволяет еще больше увеличить конверсии. Чтобы еще сильнее увеличить конверсии, приходится отказаться от четкого разделения рассылки на сравнение рассылок и использование результатов сравнения.
    
    Вместо выделения части получателей на проведение A/B-теста, и выбора лучшего варианта, мы при отправке каждого письма выбираем, с каким вариантом рассылки это письмо отправится. Вероятности каждого варианта меняются на основе наблюдаемой конверсии так, что чем больше конверсия, тем большую долю писем мы направляем на этот вариант.
    
    Это позволяет сделать тестирование более гибким, чем при классическом A/B-тестировании, но и
{% endblock content %}