{% extends 'bandits_site/base.html' %}
{% load static %}
{% block content %}
    <header>
        <h1>Что видно при проведении A/B теста</h1>
    </header>
    <p>Для отправки по базе из 10000 подписчиков подготовили два варианта рассылки, каждому получателю можно
        отправить только один вариант.</p>

    <p>Чтобы определить лучший вариант, мы случайным образом отбираем 2000 получателей и половине отправляем вариант
        A, а
        второй - вариант B. Вариант с большей конверсией отправляем остальным 8000 получателям.</p>

    <p>Посмотрим, как ведут себя показатели рассылки в динамике.</p>

    <section>
        <header>
            <h2>Общее число конверсий в динамике</h2>
        </header>

        <img src="{% static 'bandits_site/images/cumulative-conversion-count-in-dynamics.png' %}">
        <p>На графике изображен накопительное число конверсий из рассылки в динамике. По горизонтали откладывается
            время, по
            вертикали - общее число конверсий со старта рассылки до этого момента времени.</p>

        <p>Общая высота графика - это полное число конверсий из рассылки. Количество конверсий является самым общим
            показателем
            качества рассылки и наиболее близко стоит к выручке.</p>

        <p>Наклон графика показывает долю конверсий из рассылки. Чем круче наклон, тем больше доля конверсий рассылки, и
            наоборот, чем более график пологий, тем доля конверсий меньше. На графике отмечен момент, когда мы отослали
            2000
            писем и переключаемся на лучший вариант. До момента переключения наклон графика ниже, так как мы шлем
            половину
            писем
            на не лучший вариант и получаем меньше конверсий. В момент переключения наклон скачком возрастает, график
            "сгибается" вверх - перенаправление всего траффика на лучший вариант письма увеличило эффективность
            рассылки.</p>

    </section>
    <section>
        <header>
            <h2>Процент конверсий по вариантам в отдельности A и B от времени.</h2>
        </header>

        <p>На накопительном графике конверсий не видно, какой вариант письма лучше и как делается выбор между ними.
            Чтобы
            увидеть это, для этой же рассылки построим график доли конверсий для каждого варианта в отдельности.</p>

        <img src="{% static 'bandits_site/images/conversion-share-by-variants-in-dynamics.png' %}">

        <p>На графике показана доля конверсий в процентах в динамике. По горизонтали откладывается время, по вертикали,
            для
            каждого варианта - процент конверсий этого варианта писем на каждый конкретный момент времени. Чем выше
            линия,
            тем выше
            конверсия этого варианта рассылки и тем эффективнее и лучше этот вариант.</p>

        <p>В момент переключения на лучший вариант, нижний график обрывается - мы больше не шлем писем с этим вариантом
            и,
            следовательно, не
            получаем новой информации по нему. Верхний график продолжается, до конца рассылки.</p>

        <p>Общее свойство графиков доли конверсии - в начале рассылки они более волатильны, а в конце - менее. Так
            происходит
            потому, что в начале рассылки меньше писем отослано и каждое письмо дает значительный вклад в общий
            результат.
            Но
            чем больше отослано писем, тем меньшую долю вклада вносит каждое отдельное письмо и тем более устойчивыми
            становятся
            графики.</p>
    </section>
    <section>
        <header>
            <h2>Доля писем, которые мы отправляем на вариант A и B, в динамике.</h2>
        </header>

        <img src="{% static 'bandits_site/images/traffic-share-by-variants-in-dynamics.png' %}">

        <p>График показывает, какую долю писем мы отправляем с вариантом А, а какую с вариантом B в каждый момент
            времени.
            Чем
            шире полоса, соответствующая варианту, тем большую часть траффика мы шлем на этот вариант. В сумме варианты
            дают
            100% в каждый момент времени.</p>

        <p>До выбора лучшего варианта окончания A/B теста мы распределяем траффик равномерно, по 50% на каждый вариант.
            Переключение на лучший вариант отправляет весь траффик на вариант A. После момента переключения на вариант А
            приходится 100% траффика, а на B - 0%.</p>

        <h2>В следующей серии</h2>

        <p>Доля траффика на каждый из варинтов, сколько писем отправлять чтобы выбрать лучший вариант и как это влияет
            на
            общее
            число конверсий
            В следующей части мы расскажем</p>

        <ul>
            <li>почему письма направляют на варианты 50/50 и как изменится итоговое число конверсий, если изменить эту
                пропорцию
            </li>

            <li>отправка большего числа писем позволяет более уверенно находить лучший вариант, но уменьшает отдачу от
                использования лучшего варианта. Баланс между исследованием и применением
            </li>

            <li>Остановка исследования как задача управления рисками. Как осознанно сделать выбор и какие инструменты
                помогают
                его сделать.
            </li>
        </ul>
    </section>
{% endblock content %}
