body {
    font-family: 'Roboto', serif;
    width: 600px;
    margin: auto;
    background-color: #fafdcb;
}

.title {
    background-color: #aee7e8;
    font-size: larger;
    padding: 14px 16px;
}

.title a {
    color: black;
}

a {
    color: #248ea9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

article header {
    color: #248ea9;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aee7e8;
}

nav ul li {
    float: left;
    background-color: #aee7e8;
}

nav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #28c3d4;
}

img {
    width: 100%;
}

.form-container {
    border: 1px solid black;
}

table, thead {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}

td.highlight {
    font-weight: bold;
}

.collapsed {
    opacity: 0.3;
}