body {
    font-family: 'Roboto', serif;
    width: 600px;
    margin: auto;
    background-color: #fafdcb;
}

header {
    color: #248ea9;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aee7e8;
}

nav ul li {
    float: left;
    background-color: #aee7e8;
}
nav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #28c3d4;
}